@charset "UTF-8";
.inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

.inner1 {
  width: 100%;
  max-width: 900px;
  margin: 0 auto; }

.inner2 {
  width: 90%;
  max-width: 900px;
  margin: 0 auto; }

.inner3 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .inner3 {
      width: 100%; } }

.title-area, .title-area-news, .title-area-contact {
  background-image: url("../images/page-title.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 10px;
  text-align: center;
  height: 160px;
  display: grid;
  place-items: center;
  /* 縦横中央をまとめて指定 */
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .title-area, .title-area-news, .title-area-contact {
      background-image: url("../images/page-title-sp.webp");
      height: 120px; } }
  @media screen and (max-width: 480px) {
    .title-area, .title-area-news, .title-area-contact {
      height: 70px; } }
  .title-area h2, .title-area-news h2, .title-area-contact h2 {
    font-weight: 400;
    font-size: 3.0rem;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-image: none; }
    @media screen and (max-width: 768px) {
      .title-area h2, .title-area-news h2, .title-area-contact h2 {
        font-size: 2.6rem; } }
    @media screen and (max-width: 480px) {
      .title-area h2, .title-area-news h2, .title-area-contact h2 {
        font-size: 2.6rem; } }

.title-area-news {
  background-image: none; }
  .title-area-news h2 {
    color: #111;
    text-shadow: none; }

.title-area-contact {
  background-image: none;
  height: auto;
  padding-top: 30px; }
  @media screen and (max-width: 768px) {
    .title-area-contact {
      padding-top: 15px;
      margin-bottom: 0; } }
  .title-area-contact h2 {
    color: #111;
    text-shadow: none; }

.title-area-sub {
  margin: 1em auto; }
  .title-area-sub h2 {
    font-size: 3.0rem;
    line-height: 1.5em; }

.en-font {
  font-family: "Poppins", sans-serif; }

.pan {
  width: 1200px;
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  font-size: 1.4rem; }
  @media screen and (max-width: 1200px) {
    .pan {
      width: 90%; } }
  @media screen and (max-width: 768px) {
    .pan {
      margin: 0 auto 30px; } }
  .pan img {
    width: 12px; }
  .pan .current-page {
    margin-left: 5px;
    color: #444; }
    .pan .current-page:before {
      content: "／"; }

h2, h3 {
  font-weight: 700; }

h3 {
  font-weight: normal;
  font-size: 1.8rem;
  margin-bottom: 0.5em; }
  h3.des {
    font-size: 2.4rem;
    margin-top: 50px;
    position: relative;
    border-bottom: 1px solid #008db7; }
    @media screen and (max-width: 768px) {
      h3.des {
        font-size: 2.2rem; } }
    @media screen and (max-width: 480px) {
      h3.des {
        font-size: 2.0rem; } }
    h3.des:before {
      position: absolute;
      content: '';
      width: 70%;
      border-bottom: 1px solid #CCC;
      bottom: -1px;
      right: 0; }

.text-center {
  text-align: center; }

.mg-top {
  margin-top: 1em; }

#movie {
  margin-bottom: 8px; }
  #movie .fv {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      #movie .fv {
        height: auto; } }
    #movie .fv video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* トリミングしても中央を表示 */ }
      @media screen and (max-width: 768px) {
        #movie .fv video {
          height: auto; } }
    #movie .fv .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      font-weight: 700;
      font-size: 6.0rem;
      line-height: 1.4em;
      text-shadow: 0 2px 6px #06C8E4; }
      @media screen and (max-width: 768px) {
        #movie .fv .text-overlay {
          font-size: 5.0rem;
          width: 100%; } }
      @media screen and (max-width: 480px) {
        #movie .fv .text-overlay {
          font-size: 4.0rem; } }

.index-text-area {
  width: 100%;
  margin: 0 auto 0;
  bottom: 0;
  background-image: url("../images/top01.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 40px 0 40px; }
  @media screen and (max-width: 768px) {
    .index-text-area {
      background-image: url("../images/top01sp.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; } }
  .index-text-area h2 {
    font-weight: 500;
    font-size: 2.4rem; }
    @media screen and (max-width: 768px) {
      .index-text-area h2 {
        font-size: 2.2rem; } }
    @media screen and (max-width: 480px) {
      .index-text-area h2 {
        font-size: 2.0rem; } }
  .index-text-area .main-btn {
    width: 300px;
    margin: 15px auto 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #51A9EA;
    padding: 0.2em 1.0em;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    text-shadow: none; }
    .index-text-area .main-btn img {
      width: 32px; }

#index-news, #index-menu, #news-list {
  padding: 100px 0; }
  @media screen and (max-width: 768px) {
    #index-news, #index-menu, #news-list {
      padding: 70px 0; } }
  @media screen and (max-width: 480px) {
    #index-news, #index-menu, #news-list {
      padding: 40px 0; } }
  #index-news .text-center, #index-menu .text-center, #news-list .text-center {
    text-align: left; }
    @media screen and (max-width: 768px) {
      #index-news .text-center, #index-menu .text-center, #news-list .text-center {
        text-align: center; } }
  #index-news .news-title, #index-menu .news-title, #news-list .news-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 3.6rem;
    color: #51A9EA;
    display: flex;
    align-items: baseline;
    gap: 0.5em;
    /* News と お知らせの間隔 */ }
    @media screen and (max-width: 768px) {
      #index-news .news-title, #index-menu .news-title, #news-list .news-title {
        display: inline-block;
        text-align: center;
        line-height: 1.2em;
        font-size: 3.0rem; } }
    @media screen and (max-width: 768px) {
      #index-news .news-title, #index-menu .news-title, #news-list .news-title {
        display: inline-block;
        text-align: center;
        line-height: 1.2em;
        font-size: 2.6rem; } }
    #index-news .news-title span, #index-menu .news-title span, #news-list .news-title span {
      font-family: "Zen Kaku Gothic New", sans-serif;
      font-size: 16px;
      /* フォントを小さくする */
      color: #000; }
      @media screen and (max-width: 768px) {
        #index-news .news-title span, #index-menu .news-title span, #news-list .news-title span {
          font-size: 2.2rem;
          font-weight: normal; } }
      @media screen and (max-width: 480px) {
        #index-news .news-title span, #index-menu .news-title span, #news-list .news-title span {
          font-size: 2.0rem;
          font-weight: normal; } }
  #index-news .index-news-list, #index-menu .index-news-list, #news-list .index-news-list {
    padding: 15px;
    border-top: 1px solid #AAA;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.0em; }
    #index-news .index-news-list:last-child, #index-menu .index-news-list:last-child, #news-list .index-news-list:last-child {
      border-bottom: 1px solid #AAA; }
    #index-news .index-news-list .date, #index-menu .index-news-list .date, #news-list .index-news-list .date {
      font-size: 1.8rem; }
    #index-news .index-news-list .cate, #index-menu .index-news-list .cate, #news-list .index-news-list .cate {
      font-size: 1.2rem;
      width: 11em;
      text-align: center;
      color: #FFF; }
      #index-news .index-news-list .cate .bg-or, #index-menu .index-news-list .cate .bg-or, #news-list .index-news-list .cate .bg-or {
        display: inline-block;
        width: 100%;
        background-color: #ff9300;
        border-radius: 30px; }
      #index-news .index-news-list .cate .bg-gr, #index-menu .index-news-list .cate .bg-gr, #news-list .index-news-list .cate .bg-gr {
        display: inline-block;
        width: 100%;
        background-color: #18943b;
        border-radius: 30px; }
      #index-news .index-news-list .cate .bg-bl, #index-menu .index-news-list .cate .bg-bl, #news-list .index-news-list .cate .bg-bl {
        display: inline-block;
        width: 100%;
        background-color: #008db7;
        border-radius: 30px; }
      #index-news .index-news-list .cate .bg-pl, #index-menu .index-news-list .cate .bg-pl, #news-list .index-news-list .cate .bg-pl {
        display: inline-block;
        width: 100%;
        background-color: #273e7b;
        border-radius: 30px; }
    #index-news .index-news-list .text, #index-menu .index-news-list .text, #news-list .index-news-list .text {
      font-size: 1.6rem; }
      #index-news .index-news-list .text a, #index-menu .index-news-list .text a, #news-list .index-news-list .text a {
        display: flex;
        flex-wrap: wrap; }
        #index-news .index-news-list .text a:hover, #index-menu .index-news-list .text a:hover, #news-list .index-news-list .text a:hover {
          color: #008db7;
          border-bottom: 1px solid #008db7; }
      @media screen and (max-width: 768px) {
        #index-news .index-news-list .text, #index-menu .index-news-list .text, #news-list .index-news-list .text {
          width: 100%;
          display: block; } }
    #index-news .index-news-list img, #index-menu .index-news-list img, #news-list .index-news-list img {
      width: 15px;
      margin-left: 5px; }
  #index-news .news-btn, #index-menu .news-btn, #news-list .news-btn {
    text-align: right;
    margin-top: 10px; }
    #index-news .news-btn p, #index-menu .news-btn p, #news-list .news-btn p {
      display: inline-block; }
      #index-news .news-btn p a, #index-menu .news-btn p a, #news-list .news-btn p a {
        display: flex;
        align-items: center;
        color: #111;
        text-decoration: none;
        position: relative;
        padding-right: 1.2em;
        transition: all 0.3s ease; }
        #index-news .news-btn p a img, #index-menu .news-btn p a img, #news-list .news-btn p a img {
          width: 24px;
          margin-left: 6px; }

#index-news {
  padding-bottom: 0; }

#news-list {
  margin-top: 30px; }
  #news-list .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
    list-style-type: none;
    padding: 30px 0 0; }
    #news-list .pagination a {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 2em;
      border-bottom: 2px solid #f2f2f2;
      color: #333;
      text-decoration: none; }
    #news-list .pagination .current a {
      border-bottom: 2px solid #008db7;
      pointer-events: none; }
  #news-list .index-news-list:first-child {
    border-top: 8px solid #EBEBEB; }
  #news-list .index-news-list:last-child {
    border-bottom: 8px solid #EBEBEB; }

#index-menu {
  background-image: url("../images/index-bg.webp"), url("../images/index-bg2.webp");
  background-size: 70%,50%;
  background-repeat: no-repeat,no-repeat;
  background-position: right 0 top 0,left 0 bottom 0; }
  @media screen and (max-width: 768px) {
    #index-menu {
      background-image: url("../images/index-bg-sp1.webp"), url("../images/index-bg-sp2.webp");
      background-size: 85%,100%;
      background-repeat: no-repeat,no-repeat;
      background-position: left 0 top 0,left 0 bottom 0; } }
  #index-menu .index-menu-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px; }
    #index-menu .index-menu-box .index-menu-box-info {
      width: 42%;
      text-align: center; }
      @media screen and (max-width: 768px) {
        #index-menu .index-menu-box .index-menu-box-info {
          width: 100%;
          margin-bottom: 60px; }
          #index-menu .index-menu-box .index-menu-box-info:last-of-type {
            margin-bottom: 30px; } }
      #index-menu .index-menu-box .index-menu-box-info figure {
        margin-bottom: 15px; }
        #index-menu .index-menu-box .index-menu-box-info figure img {
          height: 12vw;
          max-height: 64px; }
      #index-menu .index-menu-box .index-menu-box-info .horinet, #index-menu .index-menu-box .index-menu-box-info .horitech {
        padding: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        color: #FFF; }
        #index-menu .index-menu-box .index-menu-box-info .horinet div, #index-menu .index-menu-box .index-menu-box-info .horitech div {
          max-height: 400px;
          height: 36vw;
          border: 1px solid #FFF;
          padding: 30px 40px 0 40px;
          text-align: justify; }
          @media screen and (max-width: 768px) {
            #index-menu .index-menu-box .index-menu-box-info .horinet div, #index-menu .index-menu-box .index-menu-box-info .horitech div {
              padding: 20px 30px 0 30px;
              height: 70vw; } }
          #index-menu .index-menu-box .index-menu-box-info .horinet div h3, #index-menu .index-menu-box .index-menu-box-info .horitech div h3 {
            text-align: center;
            font-weight: 500;
            font-size: 2.4rem; }
      #index-menu .index-menu-box .index-menu-box-info .horinet {
        background-image: url("../images/group-bg1.webp"); }
      #index-menu .index-menu-box .index-menu-box-info .horitech {
        background-image: url("../images/group-bg2.webp"); }

#registration {
  margin: 100px auto 0;
  width: 90%;
  max-width: 1200px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    #registration {
      margin-top: 80px; } }
  @media screen and (max-width: 480px) {
    #registration {
      margin-top: 60px; } }
  #registration figure {
    width: 90%;
    max-width: 420px;
    margin: 0 auto 10px; }

#company, #greetings, #history, #contact, #privacy, #error, #philosophy, #group, #facility {
  margin-bottom: 100px; }
  @media screen and (max-width: 768px) {
    #company, #greetings, #history, #contact, #privacy, #error, #philosophy, #group, #facility {
      margin-bottom: 80px; } }
  @media screen and (max-width: 480px) {
    #company, #greetings, #history, #contact, #privacy, #error, #philosophy, #group, #facility {
      margin-bottom: 60px; } }

/*Our Philosophy*/
#philosophy .ph-box1 {
  padding: 0 0 100px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    #philosophy .ph-box1 {
      padding: 0 0 80px; } }
  @media screen and (max-width: 480px) {
    #philosophy .ph-box1 {
      padding: 0 0 60px; } }
  #philosophy .ph-box1 figure {
    width: 300px;
    margin: 0 auto; }
    @media screen and (max-width: 480px) {
      #philosophy .ph-box1 figure {
        width: 240px; } }
  #philosophy .ph-box1 h3 {
    font-family: "Poppins", sans-serif;
    color: #335B8B;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 2.6rem; }
    @media screen and (max-width: 768px) {
      #philosophy .ph-box1 h3 {
        font-size: 2.4rem; } }
    @media screen and (max-width: 480px) {
      #philosophy .ph-box1 h3 {
        font-size: 2.2rem; } }
#philosophy .ph-box2 {
  padding: 80px 0;
  background-image: linear-gradient(90deg, rgba(24, 148, 59, 0.1), rgba(0, 179, 236, 0.1)); }
  @media screen and (max-width: 768px) {
    #philosophy .ph-box2 {
      padding: 60px 0; } }
  @media screen and (max-width: 480px) {
    #philosophy .ph-box2 {
      padding: 40px 0; } }
  #philosophy .ph-box2 .ph-box2-in {
    background-color: #FFF;
    box-shadow: 0 2px 6px rgba(6, 200, 228, 0.3);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 2.0rem; }
    @media screen and (max-width: 480px) {
      #philosophy .ph-box2 .ph-box2-in {
        font-size: 1.8rem; } }
    #philosophy .ph-box2 .ph-box2-in h3 {
      font-family: "Poppins", sans-serif;
      font-size: 2.6rem;
      line-height: 1.2em;
      margin-bottom: 10px;
      font-style: italic;
      color: #335B8B;
      font-weight: 200; }
      @media screen and (max-width: 768px) {
        #philosophy .ph-box2 .ph-box2-in h3 {
          font-size: 2.6rem; } }
      @media screen and (max-width: 480px) {
        #philosophy .ph-box2 .ph-box2-in h3 {
          font-size: 2.6rem; } }
      #philosophy .ph-box2 .ph-box2-in h3 span {
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-style: normal;
        font-size: 1.4rem; }
        @media screen and (max-width: 768px) {
          #philosophy .ph-box2 .ph-box2-in h3 span {
            font-size: 1.2rem; } }
        @media screen and (max-width: 480px) {
          #philosophy .ph-box2 .ph-box2-in h3 span {
            font-size: 1.2rem; } }
    #philosophy .ph-box2 .ph-box2-in h4 {
      font-size: 2.0rem;
      color: #335B8B;
      margin-top: 1em; }
      @media screen and (max-width: 768px) {
        #philosophy .ph-box2 .ph-box2-in h4 {
          font-size: 2.0rem; } }
      @media screen and (max-width: 480px) {
        #philosophy .ph-box2 .ph-box2-in h4 {
          font-size: 1.8rem; } }

/*会社概要*/
.company-nav-area, .facility-nav-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .company-nav-area, .facility-nav-area {
      margin-bottom: 30px; } }
  @media screen and (max-width: 480px) {
    .company-nav-area, .facility-nav-area {
      margin-bottom: 20px; } }
  .company-nav-area .nav, .facility-nav-area .nav {
    width: 23.3333%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 15px; }
    @media screen and (max-width: 768px) {
      .company-nav-area .nav, .facility-nav-area .nav {
        width: 48%;
        font-size: 1.6rem; } }
    @media screen and (max-width: 480px) {
      .company-nav-area .nav, .facility-nav-area .nav {
        width: 49%;
        font-size: 1.5rem; } }
    .company-nav-area .nav a, .facility-nav-area .nav a {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      color: #335B8B;
      border: 1px solid #335B8B;
      padding: 1px 1em;
      background-image: url("../images/arrow1.svg");
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: left 25px center;
      border-radius: 30px; }
      @media screen and (max-width: 480px) {
        .company-nav-area .nav a, .facility-nav-area .nav a {
          background-position: left 10px center; } }

.company-nav-area .nav a {
  color: #008DB7;
  border: 1px solid #008DB7;
  background-image: url("../images/arrow.svg"); }

.facility-nav-area {
  justify-content: center; }
  .facility-nav-area .nav {
    width: 300px; }
    @media screen and (max-width: 768px) {
      .facility-nav-area .nav {
        width: 60%;
        font-size: 1.6rem; } }
    @media screen and (max-width: 480px) {
      .facility-nav-area .nav {
        width: 90%;
        font-size: 1.5rem; } }

#greetings {
  padding: 40px 0;
  background-image: linear-gradient(90deg, rgba(24, 148, 59, 0.1), rgba(0, 179, 236, 0.1)); }
  @media screen and (max-width: 768px) {
    #greetings {
      padding: 40px 0; } }
  @media screen and (max-width: 480px) {
    #greetings {
      padding: 30px 0; } }
  #greetings h3 {
    color: #335B8B;
    font-weight: 700;
    border-bottom: 1px solid #335B8B;
    margin-bottom: 1em; }
  #greetings .text-r {
    text-align: right; }

#company h3 {
  font-size: 2.0rem;
  color: #335B8B;
  font-weight: normal;
  margin-bottom: 0.3em; }
#company dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  border-top: 1px solid #335B8B;
  border-bottom: 1px solid #335B8B; }
  @media screen and (max-width: 768px) {
    #company dl {
      margin-bottom: 60px; } }
  @media screen and (max-width: 480px) {
    #company dl {
      margin-bottom: 40px; } }
  #company dl dt {
    width: 12em;
    padding: 10px 0;
    border-top: 1px dotted #CCC;
    background-color: rgba(51, 91, 139, 0.1);
    text-align: center;
    font-weight: normal; }
    #company dl dt:first-child {
      border-top: none; }
    @media screen and (max-width: 768px) {
      #company dl dt {
        width: 10em;
        padding: 6px 0; } }
    @media screen and (max-width: 480px) {
      #company dl dt {
        width: 7em; } }
  #company dl dd {
    width: calc(100% - 12em);
    padding: 10px 0 10px 1em;
    border-top: 1px dotted #CCC;
    box-sizing: border-box; }
    #company dl dd:nth-child(2) {
      border-top: none; }
    @media screen and (max-width: 768px) {
      #company dl dd {
        width: calc(100% - 10em);
        padding: 6px 0 6px 1em; } }
    @media screen and (max-width: 480px) {
      #company dl dd {
        width: calc(100% - 7em);
        padding-right: 1em; } }
#company #access h3 {
  padding-bottom: 5px;
  color: #335B8B;
  border-bottom: 1px solid #335B8B; }
#company #access .map {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  margin-bottom: 15px; }
  @media screen and (max-width: 768px) {
    #company #access .map {
      width: 100%; } }
  #company #access .map iframe {
    width: 100%;
    height: 500px; }
    @media screen and (max-width: 768px) {
      #company #access .map iframe {
        height: 360px; } }
    @media screen and (max-width: 480px) {
      #company #access .map iframe {
        height: 300px; } }

#history {
  padding: 80px 0;
  background-image: linear-gradient(90deg, #18943b, #00b3ec);
  color: #FFF; }
  @media screen and (max-width: 768px) {
    #history {
      padding: 60px 0; } }
  @media screen and (max-width: 480px) {
    #history {
      padding: 40px 0; } }
  #history h3 {
    color: #FFF;
    font-weight: 700;
    margin-bottom: 1em; }
  #history dl {
    display: flex;
    flex-wrap: wrap; }
    #history dl dt {
      width: 7em;
      padding: 5px 0;
      font-weight: normal; }
    #history dl dd {
      width: calc(100% - 7em);
      padding: 5px 0; }

#group {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 100px; }
  @media screen and (max-width: 768px) {
    #group {
      margin: 0 auto 80px; } }
  @media screen and (max-width: 480px) {
    #group {
      margin: 0 auto 60px; } }
  #group .g-logo {
    margin-bottom: 10px;
    display: block; }
    @media screen and (max-width: 768px) {
      #group .g-logo {
        margin-left: auto;
        margin-right: auto;
        text-align: center; } }
    #group .g-logo img {
      display: inline-block;
      height: 50px;
      width: auto; }
      @media screen and (max-width: 768px) {
        #group .g-logo img {
          height: 40px; } }
  #group .gp-box {
    display: flex;
    align-items: stretch;
    /* 子要素の高さを揃える */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px; }
    @media screen and (max-width: 480px) {
      #group .gp-box {
        padding: 25px; } }
    #group .gp-box.bg-bl {
      background-color: #EAF2F5;
      margin-bottom: 80px; }
      @media screen and (max-width: 768px) {
        #group .gp-box.bg-bl {
          margin-bottom: 60px; } }
      @media screen and (max-width: 480px) {
        #group .gp-box.bg-bl {
          margin-bottom: 40px; } }
      #group .gp-box.bg-bl .menu-nav {
        width: 300px;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        font-size: 1.0em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        color: #008DB7;
        padding: 0.2em 1.0em;
        border-radius: 30px;
        text-decoration: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        cursor: pointer;
        text-shadow: none; }
        @media screen and (max-width: 480px) {
          #group .gp-box.bg-bl .menu-nav {
            margin: 0 auto;
            font-size: 1.8rem;
            width: 240px; } }
        #group .gp-box.bg-bl .menu-nav img {
          width: 32px; }
    #group .gp-box.bg-gr {
      background-color: #E9F7ED; }
      #group .gp-box.bg-gr .menu-nav {
        width: 300px;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        font-size: 1.0em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        color: #18943B;
        padding: 0.2em 1.0em;
        border-radius: 30px;
        text-decoration: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        cursor: pointer;
        text-shadow: none; }
        @media screen and (max-width: 480px) {
          #group .gp-box.bg-gr .menu-nav {
            margin: 0 auto;
            font-size: 1.8rem;
            width: 240px; } }
        #group .gp-box.bg-gr .menu-nav img {
          width: 32px; }
    #group .gp-box .sp_btn {
      margin: 0 auto; }
    #group .gp-box .info-box {
      width: calc(100% - 460px);
      font-size: 2.0rem;
      display: flex;
      flex-direction: column;
      /* 縦並び */
      justify-content: space-between;
      /* 上下に分布 */ }
      @media screen and (max-width: 768px) {
        #group .gp-box .info-box {
          width: 100%;
          font-size: 1.8rem; } }
      @media screen and (max-width: 480px) {
        #group .gp-box .info-box {
          font-size: 1.6rem; } }
    #group .gp-box p:first-of-type {
      margin-top: 0;
      /* 念のため上に固定 */ }
    #group .gp-box figure {
      width: 430px; }
      @media screen and (max-width: 768px) {
        #group .gp-box figure {
          width: 100%;
          margin-top: 20px;
          margin-bottom: 20px; } }
    #group .gp-box .menu-nav {
      margin-top: auto;
      width: 300px; }
      @media screen and (max-width: 768px) {
        #group .gp-box .menu-nav {
          margin: 20px auto 0; } }

#facility {
  background-image: url("../images/solarpanel-pc.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top 80px; }
  @media screen and (max-width: 768px) {
    #facility {
      background-image: none; } }
  #facility .facility-box {
    width: 46%;
    max-width: 480px; }
    @media screen and (max-width: 768px) {
      #facility .facility-box {
        width: 100%;
        max-width: 100%; } }
    #facility .facility-box h3 {
      font-family: "Poppins", sans-serif;
      color: #335B8B;
      font-size: 2.2rem;
      display: flex;
      align-items: center;
      margin-bottom: 1em; }
      #facility .facility-box h3::before {
        content: "▷";
        /* 三角矢印 */
        margin-right: 0.5em;
        /* テキストとの余白 */
        font-size: 0.9em;
        /* 矢印のサイズ調整 */
        color: #335B8B;
        /* テキストと同じ色 */ }
      @media screen and (max-width: 480px) {
        #facility .facility-box h3 {
          font-size: 2.0rem; } }
    #facility .facility-box p {
      margin-bottom: 1em; }
    #facility .facility-box .subTitle {
      font-weight: 500;
      font-size: 2.0rem;
      margin-bottom: 1em; }
      @media screen and (max-width: 768px) {
        #facility .facility-box .subTitle {
          font-size: 2.2rem; } }
    #facility .facility-box h4 {
      margin: 2em 0 5px;
      padding: 6px 1em;
      background-image: linear-gradient(90deg, #18943B, #00B3EC);
      color: #FFF;
      font-weight: 700;
      text-align: center;
      font-size: 1.8rem; }
      @media screen and (max-width: 480px) {
        #facility .facility-box h4 {
          font-size: 1.6rem; } }
    #facility .facility-box dl {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px dotted #777777; }
      #facility .facility-box dl dt, #facility .facility-box dl dd {
        padding: 5px 0;
        border-top: 1px dotted #777777; }
      #facility .facility-box dl dt {
        width: calc(100% - 8em);
        font-weight: normal; }
        #facility .facility-box dl dt:first-child {
          border-top: none; }
      #facility .facility-box dl dd {
        width: 8em;
        text-align: right; }
        #facility .facility-box dl dd:nth-child(2) {
          border-top: none; }
    #facility .facility-box figure {
      display: none; }
      @media screen and (max-width: 768px) {
        #facility .facility-box figure {
          display: block;
          margin: 1em 0; } }

/*お問い合わせ*/
#contact .tel {
  font-family: "Poppins", sans-serif;
  font-size: 3.4rem;
  line-height: 1.4em;
  margin-top: 0.6em;
  font-weight: 700; }
#contact .s-font {
  font-size: 1.2rem;
  line-height: 1.6em; }

/*個人情報保護法*/
#privacy h3 {
  text-decoration: underline;
  color: #111;
  font-size: 2.0rem;
  margin-bottom: 15px;
  margin-top: 2em;
  position: relative; }
#privacy ul {
  margin: 1em 0 0; }
  #privacy ul li {
    list-style: disc;
    margin-left: 2.0em; }
#privacy .remote-img {
  width: 90%;
  max-width: 300px; }

#error dl {
  margin: 2em auto 0;
  padding: 2em;
  background-color: #F4F4F4; }

/*お知らせ一覧*/
#news-cate-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 90%;
  max-width: 900px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    #news-cate-nav {
      flex-wrap: wrap; }
      #news-cate-nav::before {
        content: "";
        flex: 0 0 75%;
        order: 1; } }
  #news-cate-nav p {
    width: 19%;
    margin: 0 0 5px;
    text-align: center;
    /*flex: 1 ;*/ }
    @media screen and (max-width: 768px) {
      #news-cate-nav p {
        flex: 0 0 24.5%;
        max-width: 24.5%; }
        #news-cate-nav p:first-child {
          order: 0;
          flex: 0 0 24.5%; }
        #news-cate-nav p:not(:first-child) {
          order: 2;
          flex: 0 0 24.5%; } }
    #news-cate-nav p a {
      display: inline-block;
      width: 100%;
      height: 34px;
      box-sizing: border-box;
      padding: 5px 0.5em;
      font-size: 0.9em;
      border-radius: 30px;
      color: #FFF; }
      @media screen and (max-width: 768px) {
        #news-cate-nav p a {
          height: 26px;
          line-height: 1.1em; } }
      #news-cate-nav p a.bg-bk {
        background-color: #000; }
      #news-cate-nav p a.bg-pl {
        background-color: #273e7b;
        font-size: 0.7em;
        line-height: 2.0em; }
        @media screen and (max-width: 768px) {
          #news-cate-nav p a.bg-pl {
            font-size: 0.5em;
            line-height: 2.0em; } }
      #news-cate-nav p a.bg-bl {
        background-color: #008db7; }
      #news-cate-nav p a.bg-gr {
        background-color: #18943b; }
      #news-cate-nav p a.bg-or {
        background-color: #ff9300; }

/*お知らせ詳細*/
#news-detail {
  text-align: center; }
  #news-detail .news-detail-info {
    text-align: justify;
    word-break: break-all; }
    #news-detail .news-detail-info h3 {
      font-weight: 700;
      border-bottom: dotted 1px #DDD;
      padding-bottom: 10px; }
  #news-detail .menu-nav {
    width: 260px;
    margin: 80px auto 0; }
    @media screen and (max-width: 768px) {
      #news-detail .menu-nav {
        margin: 60px auto 0; } }
    @media screen and (max-width: 480px) {
      #news-detail .menu-nav {
        margin: 40px auto 0; } }

@media screen and (max-width: 768px) {
  .space {
    padding-left: 5%;
    padding-right: 5%; } }

.logo-area {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #707070;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px; }
  @media screen and (max-width: 768px) {
    .logo-area {
      padding-top: 50px;
      gap: 30px; } }
  @media screen and (max-width: 480px) {
    .logo-area {
      padding-top: 40px;
      gap: 15px; } }
  .logo-area div {
    display: flex;
    justify-content: center;
    gap: 50px; }
    @media screen and (max-width: 768px) {
      .logo-area div {
        gap: 30px; } }
    @media screen and (max-width: 480px) {
      .logo-area div {
        gap: 15px; } }
  .logo-area img {
    height: 45px; }
    @media screen and (max-width: 768px) {
      .logo-area img {
        height: 40px; } }
    @media screen and (max-width: 480px) {
      .logo-area img {
        height: 30px; } }
