// Breakpoints.
$breakpoint-tby: 1200px;
$breakpoint-tbt: 768px;
$breakpoint-sp: 480px;

@mixin tby {
	@media screen and (max-width: ($breakpoint-tby)) {
		@content;
	}
}
@mixin tbt {
	@media screen and (max-width: ($breakpoint-tbt)) {
		@content;
	}
}
@mixin sp {
	@media screen and (max-width: ($breakpoint-sp)) {
		@content;
	}
}

.inner{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.inner1{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.inner2{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.inner3{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  @include tbt {
    width: 100%;
  }
}
.title-area,.title-area-news,.title-area-contact{
  background-image: url("../images/page-title.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 10px;
  text-align: center;
  height: 160px;
  display: grid;
  place-items: center; /* 縦横中央をまとめて指定 */
  box-sizing: border-box;
  @include tbt {
    background-image: url("../images/page-title-sp.webp");
    height: 120px;
  }
  @include sp {
    height: 70px;
  }
  h2{
    font-weight: 400;
    font-size: 3.0rem;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-image: none;
    @include tbt {
      font-size: 2.6rem;
    }
    @include sp {
      font-size: 2.6rem;
    }
  }
}
.title-area-news{
  background-image: none;
  h2{
    color: #111;
    text-shadow:none;
  }
}
.title-area-contact{
  background-image: none;
  height: auto;
  padding-top: 30px;
  @include tbt {
    padding-top: 15px;
    margin-bottom: 0;
  }
  h2{
    color: #111;
    text-shadow:none;
  }
}
.title-area-sub{
  margin: 1em auto;
  h2{
    font-size: 3.0rem;
    line-height: 1.5em;
  }
}
.en-font{
  font-family: "Poppins", sans-serif;
}
.pan{
  width: 1200px;
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  @include tby {
    width: 90%;
  }
  @include tbt {
    margin: 0 auto 30px;
  }
  img{
    width: 12px;
  }
  .current-page{
    margin-left: 5px;
    color: #444;
    &:before { 
      content:"／"
    }
  }
}
h2,h3{
  font-weight: 700;
}
h3{
  font-weight: normal;
  font-size: 1.8rem;
  margin-bottom: 0.5em;
  &.des{
    font-size: 2.4rem;
    margin-top: 50px;
    position: relative;
    border-bottom:1px solid #008db7;
    @include tbt {
      font-size: 2.2rem;
    }
    @include sp {
      font-size: 2.0rem;
    }
    &:before{
      position: absolute;
      content: '';
      width: 70%;
      border-bottom: 1px solid #CCC;
      bottom: -1px;
      right: 0;
    }
  }
}
.text-center{
  text-align: center;
}
.mg-top{
  margin-top: 1em;
}
#movie{
  margin-bottom: 8px;
  .fv {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    @include tbt {
      height: auto;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover; /* トリミングしても中央を表示 */
      @include tbt {
        height: auto;
      }
    }
    .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      font-weight: 700;
      font-size: 6.0rem;
      line-height: 1.4em;
      text-shadow: 0 2px 6px #06C8E4;
      @include tbt {
        font-size: 5.0rem;
        width: 100%;
      }
      @include sp {
        font-size: 4.0rem;
      }
    }
  }
}
.index-text-area{
  width: 100%;
  margin: 0 auto 0;
  bottom: 0;
  background-image: url("../images/top01.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 40px 0 40px;
  @include tbt {
    background-image: url("../images/top01sp.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  h2{
    font-weight: 500;
    font-size: 2.4rem;
    @include tbt {
      font-size: 2.2rem;
    }
    @include sp {
      font-size: 2.0rem;
    }
  }
  .main-btn {
    width: 300px;
    margin: 15px auto 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #51A9EA;
    padding: 0.2em 1.0em;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    text-shadow: none;
    img{
      width: 32px;
    }
  }
}
#index-news,#index-menu,#news-list{
  padding: 100px 0;
  @include tbt {
    padding: 70px 0;
  }
  @include sp {
    padding: 40px 0;
  }
  .text-center{
    text-align: left;
    @include tbt {
      text-align: center;
    }
  }
  .news-title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 3.6rem;
    color: #51A9EA;
    display: flex;
    align-items: baseline;
    gap: 0.5em; /* News と お知らせの間隔 */
    @include tbt {
      display: inline-block;
      text-align: center;
      line-height: 1.2em;
      font-size: 3.0rem;
    }
    @include tbt {
      display: inline-block;
      text-align: center;
      line-height: 1.2em;
      font-size: 2.6rem;
    }
    span{
      font-family: "Zen Kaku Gothic New", sans-serif;
      font-size: 16px;          /* フォントを小さくする */
      color: #000;
      @include tbt {
        font-size: 2.2rem;
        font-weight: normal;
      }
      @include sp {
        font-size: 2.0rem;
        font-weight: normal;
      }
    }
  }
  .index-news-list{
    padding: 15px ;
    border-top: 1px solid #AAA;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.0em;
    &:last-child{
      border-bottom: 1px solid #AAA;
    }
    .date{
      font-size: 1.8rem;
      width: 90px;
    }
    .cate{
      font-size: 1.2rem;
      width: 130px;
      text-align: center;
      color: #FFF;
      .bg-or{
        display: inline-block;
        width: 100%;
        background-color: #ff9300;
        border-radius: 30px;
      }
      .bg-gr{
        display: inline-block;
        width: 100%;
        background-color: #11A9ED;
        border-radius: 30px;
      }
      .bg-bl{
        display: inline-block;
        width: 100%;
        background-color: #008db7;
        border-radius: 30px;
      }
      .bg-pl{
        display: inline-block;
        width: 100%;
        background-color: #273e7b;
        border-radius: 30px;
      }
    }
    .text{
      font-size: 1.6rem;
      width: calc(100% - 260px);
      a{
        /*display: flex;
        flex-wrap: wrap;*/
        &:hover{
          color: #008db7;
          border-bottom: 1px solid #008db7;
        }
      }
      @include tbt {
        width: 100%;
        display: block;
      }
    }
    img{
      width: 15px;
      margin-left: 5px;
      padding-bottom: 5px;
      display: inline-block;
    }
  }
  .news-btn {
    text-align: right;
    margin-top: 10px;
    border-top: 1px solid #AAA;
    padding-top: 10px;
    p{
      display: inline-block;
      a {
        display: flex;
        align-items: center;
        color: #111;
        text-decoration: none;
        position: relative;
        padding-right: 1.2em;
        transition: all 0.3s ease;
        img{
          width: 24px;
          margin-left: 6px;
        }
      }
    }
  }
}
#index-news{
  padding-bottom: 0;
}
#news-list{
  margin-top: 30px;
  padding-top: 0;
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
    list-style-type: none;
    padding: 30px 0 0;
    border-top: 8px solid #EBEBEB;
    a {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 2em;
      border-bottom: 2px solid #f2f2f2;
      color: #333;
      text-decoration: none;
    }
    .current a {
      border-bottom: 2px solid #008db7;
      pointer-events: none;
    }
  }
  .index-news-list{
    &:first-child{
      border-top: 8px solid #EBEBEB;
    }
    /*&:last-child{
      border-bottom: 8px solid #EBEBEB;
    }*/
  }
}
#index-menu,{
  background-image: url("../images/index-bg.webp"),url("../images/index-bg2.webp");
  background-size: 70%,50%;
  background-repeat: no-repeat,no-repeat;
  background-position: right 0 top 0,left 0 bottom 0;
  @include tbt {
    background-image: url("../images/index-bg-sp1.webp"),url("../images/index-bg-sp2.webp");
    background-size: 85%,100%;
    background-repeat: no-repeat,no-repeat;
    background-position: left 0 top 0,left 0 bottom 0;
  }
  .index-menu-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    .index-menu-box-info{
      width: 42%;
      text-align: center;
      @include tbt {
        width: 100%;
        margin-bottom: 60px;
        &:last-of-type{
          margin-bottom: 30px;
        }
      }
      figure{
        margin-bottom: 15px;
        img{
          height: 12vw;
          max-height: 64px;
        }
      }
      .horinet,.horitech{
        padding: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        color: #FFF;
        div{
          max-height: 400px;
          height: 36vw;
          border: 1px solid #FFF;
          padding: 30px 40px 0 40px;
          text-align: justify;
          @include tbt {
            padding: 20px 30px 0 30px;
            height: 70vw;
          }
          h3{
            text-align: center;
            font-weight: 500;
            font-size: 2.4rem;
          }
        }
      }
      .horinet{
        background-image: url("../images/group-bg1.webp");
      }
      .horitech{
        background-image: url("../images/group-bg2.webp");
      }
    }
  }
}
#registration{
  margin: 100px auto 0;
  width: 90%;
  max-width: 1200px;
  text-align: center;
  @include tbt {
    margin-top: 80px;
  }
  @include sp {
    margin-top: 60px;
  }
  figure{
    width: 90%;
    max-width: 420px;
    margin: 0 auto 10px;
  }
}


#company,#greetings,#history,#contact,#privacy,#error,#philosophy,#group,#facility{
  margin-bottom: 100px;
  @include tbt {
    margin-bottom: 80px;
  }
  @include sp {
    margin-bottom: 60px;
  }
}
/*Our Philosophy*/
#philosophy{
  .ph-box1{
    padding: 0 0 100px;
    text-align: center;
    @include tbt {
      padding: 0 0 80px;
    }
    @include sp {
      padding: 0 0 60px;
    }
    figure{
      width: 300px;
      margin: 0 auto;
      @include sp {
        width: 240px;
      }
    }
    h3{
      font-family: "Poppins", sans-serif;
      color: #335B8B;
      font-style: italic;
      margin-top: 1em;
      margin-bottom: 0;
      font-size: 2.6rem;
      @include tbt {
        font-size: 2.4rem;
      }
      @include sp {
        font-size: 2.2rem;
      }
    }
  }
  .ph-box2{
    padding: 80px 0;
    background-image: linear-gradient(90deg, rgba(24,148,59,0.10), rgba(0,179,236,0.10));
    @include tbt {
      padding: 60px 0;
    }
    @include sp {
      padding: 40px 0 ;
    }
    .ph-box2-in{
      background-color: #FFF;
      box-shadow: 0 2px 6px rgba(6,200,228,0.30);
      padding: 20px;
      margin: 20px auto;
      border-radius: 10px;
      font-size: 2.0rem;
      @include sp {
        font-size: 1.8rem;
      }
      h3{
        font-family: "Poppins", sans-serif;
        font-size: 2.6rem;
        line-height: 1.2em;
        margin-bottom: 10px;
        font-style: italic;
        color: #335B8B;
        font-weight: 200;
        @include tbt {
          font-size: 2.6rem;
        }
        @include sp {
          font-size: 2.6rem;
        }
        span{
          font-family: "Zen Kaku Gothic New", sans-serif;
          font-style: normal;
          font-size: 1.4rem;
          @include tbt {
            font-size: 1.2rem;
          }
          @include sp {
            font-size: 1.2rem;
          }
        }
      }
      h4{
        font-size: 2.0rem;
        color: #335B8B;
        margin-top: 1em;
        @include tbt {
          font-size: 2.0rem;
        }
        @include sp {
          font-size: 1.8rem;
        }
      }
    }
  }
}

/*会社概要*/
.company-nav-area,.facility-nav-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  @include tbt {
    margin-bottom: 30px;
  }
  @include sp {
    margin-bottom: 20px;
  }
  .nav{
    width: 23.3333%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 15px;
    @include tbt {
      width: 48%;
      font-size: 1.6rem;
    }
    @include sp {
      width: 49%;
      font-size: 1.5rem;
    }
    a{
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      color: #335B8B;
      border: 1px solid #335B8B;
      padding: 1px 1em;
      background-image: url("../images/arrow1.svg");
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: left 25px center;
      border-radius: 30px;
      @include sp {
        background-position: left 10px center;
      }
    }
  }
}
.company-nav-area{
  .nav{
    a{
      color: #008DB7;
      border: 1px solid #008DB7;
      background-image: url("../images/arrow.svg");
    }
  }
}
.facility-nav-area{
  justify-content: center;
  .nav{
    width: 300px;
    @include tbt {
      width: 60%;
      font-size: 1.6rem;
    }
    @include sp {
      width: 90%;
      font-size: 1.5rem;
    }
  }
}
#greetings{
  padding: 40px 0;
  background-image: linear-gradient(90deg, rgba(24,148,59,0.10), rgba(0,179,236,0.10));
  @include tbt {
    padding: 40px 0;
  }
  @include sp {
    padding: 30px 0 ;
  }
  h3{
    color: #335B8B;
    font-weight: 700;
    border-bottom: 1px solid #335B8B;
    margin-bottom: 1em;
  }
  .text-r{
    text-align: right;
  }
}
#company{
  h3{
    font-size: 2.0rem;
    color: #335B8B;
    font-weight: normal;
    margin-bottom: 0.3em;
  }
  dl{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    border-top: 1px solid #335B8B;
    border-bottom: 1px solid #335B8B;
    @include tbt {
      margin-bottom: 60px;
    }
    @include sp {
      margin-bottom: 40px;
    }
    dt{
      width: 12em;
      padding: 10px 0;
      border-top:1px dotted #CCC;
      background-color: rgba(51,91,139,0.10);
      text-align: center;
      font-weight: normal;
      &:first-child{
        border-top: none;
      }
      @include tbt {
        width: 10em;
        padding: 6px 0;
      }
      @include sp {
        width: 7em;
      }
    }
    dd{
      width: calc(100% - 12em);
      padding: 10px 0 10px 1em;
      border-top: 1px dotted #CCC;
      box-sizing: border-box;
      &:nth-child(2){
        border-top: none;
      }
      @include tbt {
        width: calc(100% - 10em);
        padding: 6px 0 6px 1em;
      }
      @include sp {
        width: calc(100% - 7em);
        padding-right: 1em;
      }
    }
  }
  #access{
    h3{
      padding-bottom: 5px;
      color: #335B8B;
      border-bottom: 1px solid #335B8B;
    }
    .map{
      width: 100%;
      box-sizing: border-box;
      position: relative;
      z-index: 0;
      margin-bottom: 15px;
      @include tbt {
        width: 100%;
      }
      iframe{
        width: 100%;
        height: 500px;
        @include tbt {
          height: 360px;
        }
        @include sp {
          height: 300px;
        }
      }
    }
  }
}
#history{
  padding: 80px 0;
  background-image: linear-gradient(90deg, rgba(24,148,59,1.0), rgba(0,179,236,1.0));
  color: #FFF;
  @include tbt {
    padding: 60px 0;
  }
  @include sp {
    padding: 40px 0 ;
  }
  h3{
    color: #FFF;
    font-weight: 700;
    margin-bottom: 1em;
  }
  dl{
    display: flex;
    flex-wrap: wrap;
    dt{
      width: 7em;
      padding: 5px 0;
      font-weight: normal;
    }
    dd{
      width: calc(100% - 7em);
      padding: 5px 0;
    }
  }
}
#group{
  width: 100%;
  max-width: 900px;
  margin: 0 auto 100px;
  @include tbt {
    margin: 0 auto 80px;
  }
  @include sp {
    margin: 0 auto 60px;
  }
  .g-logo{
    margin-bottom: 10px;
    display: block;
    @include tbt {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    img{
      display: inline-block;
      height: 50px;
      width: auto;
      @include tbt {
        height: 40px;
      }
    }
  }
  .gp-box{
    display: flex;
    align-items: stretch; /* 子要素の高さを揃える */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px;
    @include sp {
      padding: 25px;
    }
    &.bg-bl{
      background-color: #EAF2F5;
      margin-bottom: 80px;
      @include tbt {
        margin-bottom: 60px;
      }
      @include sp {
        margin-bottom: 40px;
      }
      .menu-nav {
        width: 300px;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        font-size: 1.0em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        color: #008DB7;
        padding: 0.2em 1.0em;
        border-radius: 30px;
        text-decoration: none;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: all 0.3s ease;
        cursor: pointer;
        text-shadow: none;
        @include sp {
          margin: 0 auto;
          font-size: 1.8rem;
          width: 240px;
        }
        img{
          width: 32px;
        }
      }
    }
    &.bg-gr{
      background-color: #EAFCFF;
      .menu-nav {
        width: 300px;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        font-size: 1.0em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        color: #11A9ED;
        padding: 0.2em 1.0em;
        border-radius: 30px;
        text-decoration: none;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: all 0.3s ease;
        cursor: pointer;
        text-shadow: none;
        @include sp {
          margin: 0 auto;
          font-size: 1.8rem;
          width: 240px;
        }
        img{
          width: 32px;
        }
      }
    }
    .sp_btn{
      margin: 0 auto;
    }
    .info-box{
      width: calc(100% - 460px);
      font-size: 2.0rem;
      display: flex;
      flex-direction: column;   /* 縦並び */
      justify-content: space-between; /* 上下に分布 */
      @include tbt {
        width: 100%;
        font-size: 1.8rem;
      }
      @include sp {
        font-size: 1.6rem;
      }
    }
    p:first-of-type {
      margin-top: 0; /* 念のため上に固定 */
    }
    figure{
      width: 430px;
      @include tbt {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    .menu-nav{
      margin-top: auto;
      width: 300px;
      @include tbt {
        margin: 20px auto 0;
      }
    }
  }
}
#facility{
  background-image: url("../images/solarpanel-pc.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top 80px;
  @include tbt {
    background-image: none;
  }
  .facility-box{
    width: 46%;
    max-width: 480px;
    @include tbt {
      width: 100%;
      max-width: 100%;
    }
    h3{
      font-family: "Poppins", sans-serif;
      color: #335B8B;
      font-size: 2.2rem;
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      &::before {
        content: "▷";        /* 三角矢印 */
        margin-right: 0.5em; /* テキストとの余白 */
        font-size: 0.9em;     /* 矢印のサイズ調整 */
        color: #335B8B;       /* テキストと同じ色 */
      }
      @include sp {
        font-size: 2.0rem;
      }
    }
    p{
      margin-bottom: 1em;
    }
    .subTitle{
      font-weight: 500;
      font-size: 2.0rem;
      margin-bottom: 1em;
      @include tbt {
        font-size: 2.2rem;
      }
    }
    h4{
      margin: 2em 0 5px;
      padding: 6px 1em;
      background-image: linear-gradient(90deg, #18943B, #00B3EC);
      color: #FFF;
      font-weight: 700;
      text-align: center;
      font-size: 1.8rem;
      @include sp {
        font-size: 1.6rem;
      }
    }
    dl{
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px dotted #777777;
      dt,dd{
        padding: 5px 0;
        border-top: 1px dotted #777777;
      }
      dt{
        width: calc(100% - 8em);
        font-weight: normal;
        &:first-child{
          border-top: none;
        }
      }
      dd{
        width: 8em;
        text-align: right;
        &:nth-child(2){
          border-top: none;
        }
      }
    }
    figure{
      display: none;
      @include tbt {
        display: block;
        margin: 1em 0;
      }
    }
  }
}
/*お問い合わせ*/
#contact{
  .tel{
    font-family: "Poppins", sans-serif;
    font-size: 3.4rem;
    line-height: 1.4em;
    margin-top: 0.6em;
    font-weight: 700;
  }
  .s-font{
    font-size: 1.2rem;
    line-height: 1.6em;
  }
}
/*個人情報保護法*/
#privacy{
  h3{
    text-decoration: underline;
    color: #111;
    font-size: 2.0rem;
    margin-bottom: 15px;
    margin-top: 2em;
    position: relative;
  }
  ul{
    margin: 1em 0 0;
    li{
      list-style: disc;
      margin-left: 2.0em;
    }
  }
  .remote-img{
    width: 90%;
    max-width: 300px;
  }
}
#error{
  dl{
    margin: 2em auto 0;
    padding: 2em;
    background-color: #F4F4F4;
  }
}
/*お知らせ一覧*/

#news-cate-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  @include tbt {
    flex-wrap: wrap;
    &::before {
      content: "";
      flex: 0 0 75%;
      order: 1;
    }
  }
  p {
    width: 19%;
    margin: 0 0 5px;
    text-align: center;
    /*flex: 1 ;*/
    @include tbt {
      flex: 0 0 24.5%;
      max-width: 24.5%;
      &:first-child{
        order: 0;
        flex: 0 0 24.5%;
      }
      &:not(:first-child) {
        order: 2;
        flex: 0 0 24.5%;
      }
    }
    a {
      display: inline-block;
      width: 100%;
      height: 34px;
      box-sizing: border-box;
      padding: 5px 0.5em;
      font-size: 0.9em;
      border-radius: 30px;
      color: #FFF;
      @include tbt {
        height: 26px;
        line-height: 1.1em;
      }
      &.bg-bk { 
        background-color: #000;
      }
      &.bg-pl {
        background-color: #273e7b; 
        font-size: 0.7em; 
        line-height: 2.0em;
        @include tbt {
          font-size: 0.5em; 
          line-height: 2.0em;
        }
      }
      &.bg-bl {
        background-color: #008db7;
      }
      &.bg-gr {
        background-color: #11A9ED;
      }
      &.bg-or {
        background-color: #ff9300;
      }
    }
  }
}
/*お知らせ詳細*/
#news-detail{
  text-align: center;
  .news-detail-info{
    text-align: justify;
    word-break: break-all;
    h3{
      font-weight: 700;
      border-bottom: dotted 1px #DDD;
      padding-bottom: 10px;
    }
  }
  .menu-nav{
    width: 260px;
    margin: 80px auto 0;
    @include tbt {
      margin: 60px auto 0;
    }
    @include sp {
      margin: 40px auto 0;
    }
  }
}
.space{
  @include tbt {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.logo-area{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #707070;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:50px;
  @include tbt {
    padding-top: 50px;
    gap:30px;
  }
  @include sp {
    padding-top: 40px;
    gap:15px;
  }
  div{
    display: flex;
    justify-content: center;
    gap:50px;
    @include tbt {
      gap:30px;
    }
    @include sp {
      gap:15px;
    }
  }
  img{
    height: 45px;
    @include tbt{
      height: 40px;
    }
    @include sp{
      height: 30px;
    }
  }
}