// Breakpoints.
$breakpoint-tby: 1200px;
$breakpoint-tbt: 768px;
$breakpoint-sp: 480px;

@mixin tby {
	@media screen and (max-width: ($breakpoint-tby)) {
		@content;
	}
}
@mixin tbt {
	@media screen and (max-width: ($breakpoint-tbt)) {
		@content;
	}
}
@mixin sp {
	@media screen and (max-width: ($breakpoint-sp)) {
		@content;
	}
}

.inner{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.inner1{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.inner2{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.inner3{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  @include tbt {
    width: 100%;
  }
}
.title-area,.title-area-news{
  background-image: url("../images/page-title.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 10px;
  text-align: center;
  height: 160px;
  display: grid;
  place-items: center; /* 縦横中央をまとめて指定 */
  box-sizing: border-box;
  @include tbt {
    background-image: url("../images/page-title-sp.webp");
    height: 120px;
  }
  @include sp {
    height: 70px;
  }
  h2{
    font-weight: 400;
    font-size: 3.0rem;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-image: none;
    @include tbt {
      font-size: 2.6rem;
    }
    @include sp {
      font-size: 2.4rem;
    }
  }
}
.title-area-news{
  background-image: none;
  h2{
    color: #111;
    text-shadow:none;
  }
}
.title-area-sub{
  margin: 1em auto;
  h2{
    font-size: 3.0rem;
    line-height: 1.5em;
  }
}
.pan{
  width: 1200px;
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  @include tby {
    width: 94%;
  }
  @include tbt {
    margin: 0 auto 30px;
  }
  img{
    width: 12px;
  }
  .current-page{
    margin-left: 5px;
    color: #444;
    &:before { 
      content:"／"
    }
  }
}
h2,h3{
  font-weight: 700;
}
h3{
  font-weight: normal;
  font-size: 2.0rem;
  margin-bottom: 0.5em;
  color: #18943b;
  &.des{
    font-size: 2.4rem;
    margin-top: 50px;
    position: relative;
    border-bottom:1px solid #18943b;
    @include tbt {
      font-size: 2.2rem;
    }
    @include sp {
      font-size: 2.0rem;
    }
    &:before{
      position: absolute;
      content: '';
      width: 70%;
      border-bottom: 1px solid #CCC;
      bottom: -1px;
      right: 0;
    }
  }
}
.text-center{
  text-align: center;
}
.mg-top{
  margin-top: 2em;
}
#movie{
  margin-bottom: 8px;
  .fv {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    @include tbt {
      height: auto;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover; /* トリミングしても中央を表示 */
      @include tbt {
        height: auto;
      }
    }
    .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      font-weight: 700;
      font-size: 6.0rem;
      line-height: 1.4em;
      text-shadow: 0 2px 4px #002B31;
      @include tbt {
        font-size: 5.0rem;
        width: 100%;
      }
      @include sp {
        font-size: 4.0rem;
      }
    }
  }
}
.index-text-area{
  width: 100%;
  margin: 0 auto 0;
  bottom: 0;
  background-image: url("../images/top-title.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 20px 0 20px;
  @include tbt {
    background-image: url("../images/top-title-sp.webp");
  }
  h2{
    font-weight: 400;
    font-size: 2.8rem;
    @include tbt {
      font-size: 2.4rem;
    }
    @include sp {
      font-size: 2.2rem;
    }
  }
}
#index-news,#index-menu,#news-list{
  padding: 100px 0;
  @include tbt {
    padding: 70px 0;
  }
  @include sp {
    padding: 40px 0;
  }
  .news-title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 3.2rem;
    color: #18943b;
    display: flex;
    align-items: baseline;
    gap: 0.5em; /* News と お知らせの間隔 */
    span{
      font-family: "Zen Kaku Gothic New", sans-serif;
      font-size: 0.5em;          /* フォントを小さくする */
      color: #000;
    }
  }
  .index-news-list{
    padding: 15px;
    border-top: 1px solid #AAA;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.0em;
    &:last-child{
      border-bottom: 1px solid #AAA;
    }
    .date{
      font-size: 1.8rem;
      width: 90px;
    }
    .cate{
      font-size: 1.4rem;
      width: 130px;
      text-align: center;
      color: #FFF;
      .bg-or{
        display: inline-block;
        width: 100%;
        background-color: #ff9300;
        border-radius: 30px;
      }
      .bg-gr{
        display: inline-block;
        width: 100%;
        background-color: #18943b;
        border-radius: 30px;
      }
    }
    .text{
      font-size: 1.6rem;
      width: calc(100% - 260px);
      a{
/*
        display: flex;
        flex-wrap: wrap;
*/
        &:hover{
          color: #18943b;
          border-bottom: 1px solid #18943b;
        }
      }
      @include tbt {
        width: 100%;
        display: block;
      }
    }
    img{
      width: 15px;
      margin-left: 5px;
      padding-bottom: 5px;
      display: inline-block;
    }
  }
  .news-btn {
    text-align: right;
    margin-top: 10px;
    border-top: 1px solid #AAA;
    padding-top: 10px;
    p{
      display: inline-block;
      a {
        display: flex;
        align-items: center;
        color: #111;
        text-decoration: none;
        position: relative;
        padding-right: 1.2em;
        transition: all 0.3s ease;
        img{
          width: 24px;
          margin-left: 6px;
        }
      }
    }
  }
}
#news-list{
  padding-top: 0;
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
    list-style-type: none;
    padding: 30px 0 0;
    border-top: 8px solid #EBEBEB;
    a {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 2em;
      border-bottom: 2px solid #f2f2f2;
      color: #333;
      text-decoration: none;
    }
    .current a {
      border-bottom: 2px solid #228b22;
      pointer-events: none;
    }
  }
  .index-news-list{
    &:first-child{
      border-top: 8px solid #EBEBEB;
    }
    /*&:last-child{
      border-bottom: 8px solid #EBEBEB;
    }*/
  }
}
#index-menu,{
  background-color: rgba(24,148,59,0.10);
  .index-menu-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .index-menu-box-info{
      font-size: 2.0rem;
      width: 30%;
      text-align: center;
      position: relative;
      @include tbt {
        width: 100%;
        margin-bottom: 60px;
        font-size: 1.6rem;
        &:last-child{
          margin-bottom: 30px;
        }
      }
      figure{
        margin-bottom: -20px;
      }
      p{
        position: absolute;
        z-index: 1;
        width: 100%;
      }
    }
  }
}
.menu-nav {
  position: static;
  width: 80%;
  margin: 0 auto 10px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1.0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #18943b;
  padding: 0.2em 1.0em;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  text-shadow: none;
  @include sp {
    font-size: 1.0em;
  }
  img{
    width: 32px;
  }
}

#company,#privacy,#error,#service,#service2,#service3,#works,#works2,#news-detail,#works1{
  margin-bottom: 100px;
  @include tbt {
    margin-bottom: 80px;
  }
  @include sp {
    margin-bottom: 60px;
  }
}
/*事業内容*/
#service{
  h3{
    font-family: "Poppins", sans-serif;
    color: #18943b;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    &::before {
      content: "▷";        /* 三角矢印 */
      margin-right: 0.5em; /* テキストとの余白 */
      font-size: 0.9em;     /* 矢印のサイズ調整 */
      color: #18943b;       /* テキストと同じ色 */
    }
    @include sp {
      font-size: 2.0rem;
    }
  }
  .service-box1{
    margin-bottom: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    @include tbt {
      margin-bottom: 40px;
    }
    @include sp {
      margin-bottom: 30px;
    }
    .box1-left{
      width: 45%;
      z-index: 1;
      @include tbt {
        width: 100%;
      }
      .subTitle{
        font-weight: 500;
        font-size: 2.0rem;
        margin-bottom: 1em;
        @include tbt {
          font-size: 2.2rem;
        }
      }
    }
    figure{
      width: 50%;
      @include tbt {
        width: 90%;
        padding-top: 40px;
        margin-bottom: 20px;
      }
      @include sp {
        padding-top: 30px;
      }
      img{
        filter: drop-shadow(-100px -50px 0px #e9f7ed);
        @include tbt {
          filter: drop-shadow(-5% -5% 0px #e9f7ed);
        }
      }
    }
  }
  .btnArea,.btnArea1{
    width: 100%;
    max-width: 760px;
    margin: 0 auto 50px;
    margin-bottom: 50px;
    @include tbt {
      margin-bottom: 40px;
    }
    @include sp {
      margin-bottom: 30px;
    }
    .btn{
      width: 48%;
      margin-bottom: 2%;
      text-align: left;
      @include sp {
        width: 49%;
      }
      a {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5px 30px;
        background: #FFF;
        text-decoration: none;
        border-radius: 30px;
        transition: background 0.3s ease;
        box-sizing: border-box;
        border: 1px solid #18943b;
        @include sp {
          padding: 5px 15px;
        }
        &:hover {
          background: rgba(18,123,47,0.20);
        }
        &::before {
          content: "";
          display: inline-block;
          margin-right: 8px;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 8px solid #18943b; /* ← 矢印の色（白） */
        }
      }
    }
  }
  .btnArea1{
    @include tbt {
      text-align: left;
    }
    .btn{
      width: 48%;
      margin-bottom: 2%;
      @include tbt {
        width: 100%;
      }
      a{
        justify-content: flex-start;
      }
    }
  }
  .service-box2{
    .box2-container {
      counter-reset: box2-counter; /* カウンター初期化 */
      .box2-in{
        margin: 50px auto;
        &:first-of-type{
          margin-top: 0;
        }
        &:last-of-type{
          margin-bottom: 0;
        }
        .box2-in-left{
          position: relative;
          width: 390px;
          background: linear-gradient(to bottom, #18943B, #B9F8CB);
          background-repeat: no-repeat;
          background-size: 90% 280px;
          background-position: top left;
          box-sizing: border-box;
          padding: 20px 0 0 20px;
          overflow: hidden;
          margin-bottom: 20px;
          @include tbt {
            width: 95%;
            background-size: 80% 42vw;
          }
          .textArea{
            width: 12em;
            color: #fff;
            position: relative;
            z-index: 1;
            font-size: 2.2rem;
            @include tbt {
              width: 70%;
            }
          }
          figure{
            width: 100%;
            padding-left: 15%;
            box-sizing: border-box;
            margin-top: 20px;
          }
        }
        .box2-in-right{
          width: calc(100% - 430px);
          line-height: 1.5em;
          @include tbt {
            width: 100%;
          }
          .title{
            color: #18943b;
            display: flex;
            /*align-items: center;*/
            font-weight: 700;
            font-size: 1.8rem;
            margin-bottom: 15px;
            &::before {
              content: "▷";        /* 三角矢印 */
              margin-right: 0.5em; /* テキストとの余白 */
              font-size: 0.9em;     /* 矢印のサイズ調整 */
              color: #18943b;       /* テキストと同じ色 */
              margin-top: 3px;
            }
          }
          .text{
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px dotted #999;
          }
        }
      }
    }
  }
}
#service2{
  background-color: rgba(24,148,59,0.10);
  padding: 100px 0;
  @include tbt {
    padding: 80px 0;
  }
  @include sp {
    padding: 60px 0;
  }
  .service2-box{
    .textArea{
      width: 45%;
      z-index: 1;
      @include tbt {
        width: 100%;
        margin-bottom: 30px;
      }
      h3{
        color: #18943b;
        font-size: 2.2rem;
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        &::before {
          content: "▷";        /* 三角矢印 */
          margin-right: 0.5em; /* テキストとの余白 */
          font-size: 0.9em;     /* 矢印のサイズ調整 */
          color: #18943b;       /* テキストと同じ色 */
        }
        @include sp {
          font-size: 2.0rem;
        }
      }
      .subTitle{
        font-weight: 700;
        font-size: 2.0rem;
        margin-bottom: 1em;
        @include tbt {
          font-size: 2.2rem;
        }
      }
    }
  }
}
#service3{
  .service3-box{
    width: 47%;
    @include tbt {
      width: 100%;
      margin-bottom: 40px;
    }
    @include sp {
      margin-bottom: 30px;
    }
    h3{
      font-weight: 700;
      font-size: 1.8rem;
      color: #18943b;
      border-bottom: 1px solid #18943b;
    }
    p{
      border-bottom: 1px dotted #999;
      padding: 10px 0;
    }
  }
}
.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*事例*/
#works,#works2{
  h3{
    font-family: "Poppins", sans-serif;
    color: #18943b;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    &::before {
      content: "▷";        /* 三角矢印 */
      margin-right: 0.5em; /* テキストとの余白 */
      font-size: 0.9em;     /* 矢印のサイズ調整 */
      color: #18943b;       /* テキストと同じ色 */
    }
    @include sp {
      font-size: 2.0rem;
    }
  }
  h4{
    background-color: #18943b;
    border-radius: 30px;
    text-align: center;
    margin: 0 0 30px;
    color: #FFF;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1.8em;
    padding: 5px 0;
    @include tbt {
      border-radius: 0;
    }
    @include sp {
      font-size: 2.2rem;
    }
  }
  .title1{
    font-weight: 500;
    font-size: 2.2rem;
    margin: 0.5em 0;
  }
  .sub-title1{
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 2px solid #18943b;
    display: flex;
    justify-content: space-between;
    position: relative;
    figure.swp2{
      display: none;
      @include tbt {
        display: block;
        position: absolute;
        top: -10px;
        right: 5%;
        display: flex;
        align-items: center;
        font-weight: 500;
        color: #18943b;
        img{
          width: 36px;
        }
      }
    }
  }
  .table-area {
    /*border-top: 2px solid #18943b;*/
    border-bottom: 2px solid #18943b;
    .souryou{
      height: auto;
      table{
        width: 100%;
        box-sizing: border-box;
        @include tbt {
          width: 1024px;
        }
        .tb-title{
          font-weight: normal;
          font-size: 1.8rem;
          line-height: 1.4em;
          color: #18943b;
        }
        .title{
          font-weight: 500;
          font-size: 2.2rem;
          line-height: 1.4em;
          color: #18943b;
          text-align: left;
          padding-left: 0.6em;
        }
        th{
          border-bottom: 2px solid #18943b;
          text-align: center;
          padding: 10px 3px;
          box-sizing: border-box;
          font-weight: normal;
          font-size: 1.8rem;
          @include tbt {
            padding: 6px 3px;
          }
        }
        td{
          border-bottom: 1px dotted #DDD;
          text-align: center;
          padding: 10px 3px;
          box-sizing: border-box;
          vertical-align: middle;
          @include tbt {
            padding: 6px 3px;
          }
          &.text-left{
            text-align: left;
            padding-left: 1em;
          }
          &.border-none{
            border-bottom: none;
          }
        }
      }
    }
  }
  .works-box2{
    align-items: flex-start;
    margin-bottom: 60px;
    @include sp {
      margin-bottom: 40px;
    }
    h5{
      font-size: 2.0rem;
      width: 240px;
      padding: 5px 10px;
      text-align: center;
      background-color: #E9F7ED;
      box-sizing: border-box;
      @include tbt {
        font-size: 1.8rem;
        margin-bottom: 15px;
        width: 100%;
      }
      @include sp {
        font-size: 1.6rem;
        width: 100%;
        margin-bottom: 10px;
      }
    }
    p{
      width: calc(100% - 270px);
      @include tbt {
        width: 100%;
      }
    }
  }
}
#works{
  padding-top: 20px;
  position: relative;
  figure.swp1{
    display: none;
    @include tbt {
      display: block;
      position: absolute;
      top: 0;
      right: 5%;
      display: flex;
      align-items: center;
      font-weight: 500;
      color: #18943b;
      img{
        width: 36px;
      }
    }
  }
}
#works1{
  table{
    border-bottom: 2px solid #18943b;
    width: 40%;
    box-sizing: border-box;
    @include tbt {
      width: 100%;
    }
    th{
      border-bottom: 2px solid #18943b;
      text-align: center;
      padding: 10px 3px ;
      box-sizing: border-box;
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 1.4em;
      color: #18943b;
      @include tbt {
        padding: 6px 3px ;
      }
      &.title{
        font-weight: 500;
        font-size: 2.2rem;
        text-align: left;
        padding-left: 0.6em;
      }
    }
    td{
      border-bottom: 1px dotted #DDD;
      text-align: center;
      padding: 10px 3px;
      box-sizing: border-box;
      @include tbt {
        padding: 6px 3px ;
      }
      &.text-left{
        text-align: left;
        padding-left: 1em;
      }
    }
  }
}
#works2{
  background-color: rgba(24,148,59,0.10);
  padding: 100px 0;
  @include tbt {
    padding: 80px 0;
  }
  @include sp {
    padding: 60px 0;
  }
  .works-box2{
    h5{
      background-color: #FFF;
    }
  }
}
/*会社概要*/
#company{
  h3{
    font-size: 2.0rem;
    color: #18943b;
    font-weight: normal;
    margin-bottom: 0.3em;
  }
  dl{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    border-top: 1px solid #18943b;
    border-bottom: 1px solid #18943b;
    @include tbt {
      margin-bottom: 60px;
    }
    @include sp {
      margin-bottom: 40px;
    }
    dt{
      font-weight: normal;
      width: 12em;
      padding: 10px 0;
      border-top:1px dotted #CCC;
      background-color: #e9f7ed;
      text-align: center;
      &:first-child{
        border-top: none;
      }
      @include tbt {
        width: 10em;
        padding: 6px 0;
      }
      @include sp {
        width: 7em;
      }
    }
    dd{
      width: calc(100% - 12em);
      padding: 10px 0 10px 1em;
      border-top: 1px dotted #CCC;
      box-sizing: border-box;
      &:nth-child(2){
        border-top: none;
      }
      @include tbt {
        width: calc(100% - 10em);
        padding: 6px 0 6px 1em;
      }
      @include sp {
        width: calc(100% - 7em);
        padding-right: 1em;
      }
    }
  }
  #access{
    h3{
      padding-bottom: 5px;
      border-bottom: 1px solid #18943B;
    }
    .map{
      width: 100%;
      box-sizing: border-box;
      position: relative;
      z-index: 0;
      margin-bottom: 15px;
      @include tbt {
        width: 100%;
      }
      iframe{
        width: 100%;
        height: 500px;
        @include tbt {
          height: 360px;
        }
        @include sp {
          height: 300px;
        }
      }
    }
  }
}
/*個人情報保護法*/
#privacy{
  h3{
    text-decoration: underline;
    color: #111;
    font-size: 2.0rem;
    margin-bottom: 15px;
    margin-top: 2em;
    position: relative;
  }
  ul{
    margin: 1em 0 0;
    li{
      list-style: disc;
      margin-left: 2.0em;
    }
  }
}
#error{
  dl{
    margin: 2em auto 0;
    padding: 2em;
    background-color: #F4F4F4;
  }
}
/*お知らせ一覧*/
#news-cate-nav{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-bottom: 50px;
  p{
    margin: 5px;
    width: 16%;
    @include tbt {
      width: 25%;
    }
    a{
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      padding: 5px 1em;
      font-size: 1.0em;
      border-radius: 30px;
      color: #FFF;
      text-align: center;
      &.bg-bk{
        background-color: #000;
      }
      &.bg-pl{
        background-color: #273e7b;
      }
      &.bg-bl{
        background-color: #008db7;
      }
      &.bg-gr{
        background-color: #18943b;
      }
      &.bg-or{
        background-color: #ff9300;
      }
    }
  }
}
.space{
  @include tbt {
    padding-left: 5%;
    padding-right: 5%;
  }
}